.container {
  background-color: chocolate;
  width: 100%;
/*  height: 100%;*/
  text-align: center;
}

.container pre{
  width: 20px;
  height: 20px;
  white-space: pre-wrap;
}

.green {
  background-color:green;
  width: 20px;
  height: 20px;
  float: left;
  
}

.row {
	display: inline-block;
   
}

.white {
  background-color: white;
  width: 20px;
  height: 20px;
  float: left;
}

.apple {
  background-color: red;
  width: 20px;
  height: 20px;
	float: left;
}